{% extends 'Front/base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

    <div class="example-wrapper">
        <div class="content-overlay"></div>
            <div class="header-navbar-shadow"></div>
            <div class="content-wrapper">
                <div class="content-header row">
                </div>
                
                <div class="content-body">

                    {{ include('Front/index/components/_form_add_simulator.html.twig') }}

                    {% if datas != null and simulates != null %}
                    
                        <section id="complex-header-datatable">
                            <div class="row">
                                <div class="col-12">
                                    <div class="card">
                                        <div class="card-header border-bottom">
                                            <h4 class="card-title">Simulation produit {{datas.product}} entre {{datas.datedepot}} et {{datas.datefin}}  pour un montant de {{datas.amount|number_format(2, '.', ' ')}} </h4>
                                        </div>
                                        <div class="card-datatable">
                                            <table id="listChange" class=" table table-bordered">
                                               
                                                    {% if datas.product =="DAT" %}
                                                        <thead>
                                                            <tr>
                                                                <th>Date debut</th>
                                                                <th>Date fin</th>
                                                                <th>Montant</th>
                                                                <th>Taux</th>
                                                                <th>Interet</th>
                                                                <th>Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                        <tr>

                                                            <td>{{datas.datedepot|date('d/M/Y')}}</td>
                                                            <td>{{datas.datefin|date('d/M/Y')}}</td>
                                                            <td>{{datas.amount|number_format(2, '.', ' ')}}</td>
                                                            <td>{{datas.rate}} %</td>
                                                            <td>{{simulates.interest.amount|number_format(2, '.', ' ')}}</td>
                                                            <td>{{ simulates.totality|number_format(2, '.', ' ') }}</td>
                                                                
                                                        </tr>

                                                    {% elseif datas.product == "EPR" and datas.interests == "Annuel" %}
                                                        <thead>
                                                            <tr>
                                                                <th>Mois</th>
                                                                <th>Nb jour</th>
                                                                <th>Taux</th>
                                                                <th>Interet</th>
                                                                <th>Capital</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        
                                                        {% for values in simulates %}
                                                           
                                                            {% for value in values %}
                                                                
                                                                <tr>

                                                                    <td>{{value.date}}</td>
                                                                    <td>{{value.nbDay}}</td>
                                                                    <td>{{datas.rate}} %</td>
                                                                    <td>{{value.amount|number_format(2, '.', ' ')}} </td>
                                                                    <td>{{datas.amount|number_format(2, '.', ' ')}} </td>
                                                                    
                                                                </tr>

                                                            {% endfor %}
                                                    
                                                        {% endfor %}

                                                        <tr>

                                                            <td>Total</td>
                                                            {# <td>{{simulates["amountInterest"][0].diffDate}} j</td>
                                                            <td>{{datas.rate}} %</td> #}
                                                            <td style="text-align: right;" colspan="3" >{{simulates["amountInterest"][0].amountYears|number_format(2, '.', ' ')}}   Ar</td>
                                                            <td>{{simulates["amountInterest"][0].capital|number_format(2, '.', ' ')}}   Ar</td>
                                                            
                                                        </tr>

                                                    {% elseif datas.product == "EPR" and datas.interests == "Mensuel" %}
                                                        <thead>
                                                            <tr>
                                                                <th>Mois</th>
                                                                <th>Nb jour</th>
                                                                <th>Taux</th>
                                                                <th>Capital</th>
                                                                <th>Interet</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                        
                                                        {% for values in simulates %}
                                                           
                                                            {% for value in values %}
                                                                <tr>

                                                                    <td>{{value.date}}</td>
                                                                    <td>{{value.nbDay}}</td>
                                                                    <td>{{datas.rate}} %</td>
                                                                    <td>{{value.capital|number_format(2, '.', ' ')}} </td>
                                                                    <td>{{value.amount|number_format(2, '.', ' ')}} </td>
                                                                    
                                                                </tr>

                                                            {% endfor %}
                                                    
                                                        {% endfor %}

                                                        <tr>

                                                            <td>Total</td>
                                                            {# <td>{{simulates["amountInterest"][0].diffDate}} j</td>
                                                            <td>{{datas.rate}} %</td> #}
                                                            <td style="text-align: right;" colspan="3" ><span >{{simulates["amountInterest"][0].capitalYears|number_format(2, '.', ' ')}}   Ar</span></td>
                                                            <td>{{simulates["amountInterest"][0].amountInterestYears|number_format(2, '.', ' ')}}   Ar</td>
                                                            
                                                        </tr>
                                                        

                                                    {% endif %}
                                                    
                                                </tbody>

                                            </table>
                                            <br>
                                            <center>
                                                <a href="#" class="btn btn-icon btn-info btn-lg" >
                                                    <i  data-feather='printer'></i>
                                                </a>
                                            </center>
                                            <br>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    {% endif %}

                </div>
                
            </div>

        </div>
    </div>
  
{% endblock %}

{% block javascripts %}

    {{ include('Front/components/block/blockjs.datatable.html.twig', { 'table_id': 'listChange', 'targets': 6 }) }}

    <script>
        $(document).ready(function() {
        var table = $('#listChange').DataTable({
            // Vos options DataTables et colonnes spécifiées ici
        });

        // Réinitialiser les icônes Data Feather après chaque pagination
        table.on('draw.dt', function() {
            feather.replace();
    });
    });
    </script>

{% endblock %}
